header {
	display: flex;
	align-items: center;

	width: 100%;
	overflow: auto;
	background: #e8d6d2;
}

nav {
	margin-top: 30px;
 
	text-align: right;
	display: flex;
	flex-basis: 70%;
	flex-wrap: wrap;
}

nav ul li {
	display: inline-block; 
	position: relative;
	list-style: none;
	padding-right: 20px;
}
.menu-flex{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px; 
	align-items: right;
	flex-wrap: wrap;

}

form {
	width: 100%;
	padding: 10px 70px 30px 30px;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	background: #f0eded; 
}

.logo {
	margin-left: 20px;
	flex-basis: 30%;
	width: 100%;
}

.contenedor-div {
	display: flex;
	direction: row;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	flex-basis: 25%;
	text-align: center;
}

.integrantes-div {
		flex-basis: 25%;
		flex-grow: 1;
		width: 100%;  
		background: #f0eded;

}


.div-flex-multimedia {
	padding: 30px;
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	width: 100%;
	flex-basis: 33%;
  
}

.video{
	flex-basis: 33%;
	flex-grow: 1;
	width: 100%;
	
}

.partitura{
	padding-right: 5px;
	width: 100%;
	flex-basis: 33%;
	flex-grow: 1;
	
}

.boton-descarga{
	width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.letra{

		flex-basis: 33%;
		flex-grow: 1;
		width: 100%;

		
		}
.item {
	padding: 10px;
	margin-top: 20px;
	flex-wrap: wrap;
	flex-basis: 33%;
	width: 100%;
}

.item-historia{
	display: flex;
	padding: 10px 120px 70px 50px;
	
	flex-wrap: wrap;

}

.item-form {
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
	width: 100%;	

}

.item-frases {
	padding-left: 30px;
	padding-right: 30px;
}

.redes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.derechos{
	text-align: center;
}



h1 { 
  	font-weight: 700; 
  	text-transform: uppercase;
  	display: inline-block;
  
}



a:link{
	color: #b1616a;
	text-decoration: none;
  	font-weight: 500;
}

a:visited{
	color:#b1616a;
	text-decoration: none;
	font-weight: 500;
}

a:hover { color: #97444d; 
	font-weight: bold }

a:active { color: #d89ca3; }

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #b1616a; 
	color: white;
	padding: 50px;
}

@media only screen and (min-width: 320px) {
	
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 1024px) {
	
}

}
.imagen:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}

.contenedor {overflow:hidden;}
.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}

.opacidad:hover {filter: grayscale(.8);}

.opacidad2:hover {filter: opacity(.7);}

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}


.swing:hover
{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}



